---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

Teaching Assistant
=====
* Harvard AY17 Galactic and Extragalactic Astronomy (undergraduate course) (Fall 2022)
* Harvard AY200 Radiative Processes in Astrophysics (graduate course) (Fall 2021)
* GIST MM4016 Introduction to Topology (4th-year course) (Fall 2019)
* GIST PS3101 Electromagnetism II (3rd-year course) (Spring 2018)

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
