---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}


  <h3 style="color:black; font-size:1.3em;">Teaching Assistant </h3>
  <li style="font-size:1.em">Fall 2022: Harvard AY17 Galactic and Extragalactic Astronomy (undergraduate course)</li>
  <li style="font-size:1.em">Fall 2021: Harvard AY200 Radiative Processes in Astrophysics (graduate course)</li>
  <li style="font-size:1.em">Fall 2019: GIST MM4016 Introduction to Topology (4th-year course)</li>
  <li style="font-size:1.em">Spring 2018: GIST PS3101 Electromagnetism II (3rd-year course)</li>
  

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
